@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;600;700&family=Red+Hat+Text:wght@700&display=swap');

:root {
  --font-size-body: 14px;
  --font-family: 'Red Hat Text';
  --font-weight: 700;
  --font-size-unit: 0.5rem;
  --font-size-digits: 2.4rem;
  --font-size-title: 1.3rem;
  --countdown-letter-spacing: 0.2rem;
  --title-letter-spacing: 0.48rem;
}

@media screen and (min-width: 600px) {
  :root {
    --font-size-title: 1.5rem;
    --font-size-unit: 1rem;
    --font-size-digits: 5.6rem;
    --countdown-letter-spacing: 0.4rem;
    --title-letter-spacing: 0.6rem;
  }
}
